<br>
Welcome <%= @user.username.capitalize %>! <br> 

you're signed in now. <br>

<%= link_to "Add Sneaker", new_user_sneaker_path(@user) %> ? <br>
<a href="/logout" class="btn btn-secondary">Log out</a>
<%=button_to "Delete Account", @user, method: :delete %>

______________________________________________________________________

<br><br>


<h2>My Sneaker Collection</h2>

        <h2>Brands <%= User.find(session[:user_id]).brands.count %></h2>
        <ul>
        <% User.find(session[:user_id]).sneakers.each do |sneaker|%>
        <li>
        <%= sneaker.name%> by <%= sneaker.brand.name %> <a href="/sneakers/<%=sneaker.id%>/edit">edit</a>
        </li>
        <%end%>
        </ul>

<br> <br><br> <br><br> <br><br> <br><br> <br><br> <br> <br> <br><br> <br><br> <br><br> <br> <br> <br><br> <br><br> <br>
