<h2>Add New Sneaker </h2>


<%if @sneaker.errors.any?%>
<% @sneaker.errors %>

<ul>
    <% @sneaker.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @sneaker do |f|%>
  <%=render partial: 'form', locals: {f: f}%>
    <%=f.submit "Add Sneaker"%>


<p>Select from existing Brands: </p>

<%= f.collection_select :brand_id , Brand.all , :id , :name %>

<p>Or Create a new Brand: </p>

    <%= f.fields_for :brand do |b| %>
    <%= b.label 'Name' %>
    <%= b.text_field :name %>
    <% end %>
<%= f.submit %>
<% end %>

<br><br><br><br><br><br><br><br><br><br><br><br>
