<br> <br> <br>
<h3> <%= @sneaker.name %> by <%= @sneaker.brand.name %> </h3>

<br>

<h5>Add Comment</h5>

<%= form_for @comment do |f|%>
<%= f.text_field :description %>
<%= f.submit %>
<% end %>

<br><br><br><br>
<h5>Comments</h5> <ul>

<% @sneaker.comments.each do |comment|%>
<li><%= comment.descripton %></li>
<% end %> </ul>

<br> <br> <br>
<br> <br> <br>
<br> <br> <br>
<br> <br> <br>
<br> <br> <br>
<br> <br> <br>
