<br> <br> <br>
<% @sneakers.each do |sneaker| %>
<h1><%= sneaker.name %></h1>
<% end %>

<h4>Post A Comment</h4>

<%= form_for :comment do |f|%>
<%= f.label :description %>
<%= f.text_field :description %> <br>
<%= f.submit 'Post Comment' %>
<% end %>